@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Poppins', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
  background-color:rgb(242, 241, 241);
}
.font{
  font-weight: 900;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Poppins',
    monospace;
}
@media only screen and (max-width: 370px) {
  html {
    font-size: 10px !important;
  }
}

@media only screen and (max-width: 640px) {
  html {
    font-size: 10px !important;
  }
}

@media only screen and (max-width: 767px) {
  html {
    font-size: 12px !important;
  }
}
